@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.rich-editor .rdw-editor-main {
  background-color: #fff;
}

.rich-editor .DraftEditor-editorContainer {
  padding: 1rem;
}

.draft-editor-wrapper {
  border: 1px solid #ccc;
}
.scroll {
  overflow-y: hidden;
}
.scroll:hover {
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px !important;
}
/* Track */
.scroll::-webkit-scrollbar-track {
  border-radius: 2px;
}
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  display: block;
}

/* slick slide */
.slick-next {
  background-color: #a4a4a4 !important;
  border-radius: 50%;
  margin-top: -4px;
}
.slick-prev {
  background-color: #b4b4b4 !important;
  border-radius: 50%;
  margin-top: -4px;
}
.slick-list {
  width: 100%;
  margin: 0 -7px !important;
}
@media only screen and (max-width: 600px) {
  .slick-slider {
    max-width: 280px;
  }
  .slick-list {
    margin: auto;
    width: 100%;
  }
}
.slick-slide > div {
  padding: 0 7px !important;
}

.login-page {
  background-image: url('./asset/images//bg-sign-in-basic.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.form-signIn {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 8px;
}
